@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

body {
  @apply box-border bg-frozenForest bg-no-repeat
}

.text-stroke {
  -webkit-text-stroke: 0.05rem theme('colors.sunglow');
}

.TIMELINE-DESCRIPTION:before,
.PROJECT-BANNER-DESCRIPTION:before {
  -webkit-mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
  mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.HEADLINE-TEXT {
  text-shadow: 0px 0px 8px rgba(248, 207, 62, 0.5);
  @apply text-transparent bg-clip-text bg-vagueGold
}

.FADE-IMG {
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}