@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

body {
  @apply box-border
}

.NAVLINK-CONTAINER:hover > .NAVLINK-MAIN-TEXT {
  -webkit-text-stroke: 0.05rem hsl(0, 0%, 0%);
}